<page-header></page-header>
<sv-container>
  <sv label="公共字典示例">
    <p>{{'group.group1' | translate}}</p>
    <p>{{'group.group2' | translate}}</p>
    <p>{{'group.group3' | translate}}</p>
    <p>{{'group.group4' | translate}}</p>
  </sv>
  <sv label="业务1示例">
    <p>{{'bus1.group.group1' | translate}}</p>
    <p>{{'bus1.group.group2' | translate}}</p>
    <p>{{'bus1.group.group3' | translate}}</p>
    <p>{{'bus1.group.group4' | translate}}</p>
  </sv>
  <sv label="业务2示例">
    <p>{{'bus2.group.group1' | translate}}</p>
    <p>{{'bus2.group.group2' | translate}}</p>
    <p>{{'bus2.group.group3' | translate}}</p>
    <p>{{'bus2.group.group4' | translate}}</p>
  </sv>
</sv-container>
